@charset "utf-8";

/* Author: JW 2022-03-06. Edit: JW 2023-05-02 */

$cdn: 'https://cdn.jsdelivr.net/gh/fe-jw/fe-jw.github.io/font';

// Pretendard
@font-face {
	font-family:'Pretendard';
	src:local('Pretendard-Thin'),
		url('#{$cdn}/Pretendard-Thin.woff2') format('woff2'),
		url('#{$cdn}/Pretendard-Thin.woff') format('woff');
	font-weight:100;
	font-display:swap;
}
@font-face {
	font-family:'Pretendard';
	src:local('Pretendard-ExtraLight'),
		url('#{$cdn}/Pretendard-ExtraLight.woff2') format('woff2'),
		url('#{$cdn}/Pretendard-ExtraLight.woff') format('woff');
	font-weight:200;
	font-display:swap;
}
@font-face {
	font-family:'Pretendard';
	src:local('Pretendard-Light'),
		url('#{$cdn}/Pretendard-Light.woff2') format('woff2'),
		url('#{$cdn}/Pretendard-Light.woff') format('woff');
	font-weight:300;
	font-display:swap;
}
@font-face {
	font-family:'Pretendard';
	src:local('Pretendard-Regular'),
		url('#{$cdn}/Pretendard-Regular.woff2') format('woff2'),
		url('#{$cdn}/Pretendard-Regular.woff') format('woff');
	font-weight:400;
	font-display:swap;
}
@font-face {
	font-family:'Pretendard';
	src:local('Pretendard-Medium'),
		url('#{$cdn}/Pretendard-Medium.woff2') format('woff2'),
		url('#{$cdn}/Pretendard-Medium.woff') format('woff');
	font-weight:500;
	font-display:swap;
}
@font-face {
	font-family:'Pretendard';
	src:local('Pretendard-SemiBold'),
		url('#{$cdn}/Pretendard-SemiBold.woff2') format('woff2'),
		url('#{$cdn}/Pretendard-SemiBold.woff') format('woff');
	font-weight:600;
	font-display:swap;
}
@font-face {
	font-family:'Pretendard';
	src:local('Pretendard-Bold'),
		url('#{$cdn}/Pretendard-Bold.woff2') format('woff2'),
		url('#{$cdn}/Pretendard-Bold.woff') format('woff');
	font-weight:700;
	font-display:swap;
}
@font-face {
	font-family:'Pretendard';
	src:local('Pretendard-ExtraBold'),
		url('#{$cdn}/Pretendard-ExtraBold.woff2') format('woff2'),
		url('#{$cdn}/Pretendard-ExtraBold.woff') format('woff');
	font-weight:800;
	font-display:swap;
}
@font-face {
	font-family:'Pretendard';
	src:local('Pretendard-Black'),
		url('#{$cdn}/Pretendard-Black.woff2') format('woff2'),
		url('#{$cdn}/Pretendard-Black.woff') format('woff');
	font-weight:900;
	font-display:swap;
}

// Nanum Square
@font-face {
	font-family:'NanumSquareExtraBold';
	src:url('#{$cdn}/NanumSquareEB.woff') format('woff');
	unicode-range:U+AC00-D7AF, /*한글*/
				  U+0030-0039, /*숫자*/
				  U+0020-002F, U+003A-0040, U+005B-0060, U+007B-007E;/* 특수문자 */
	font-display:swap;
}
@font-face {
	font-family:'NanumSquareR';
	src:url('#{$cdn}/NanumSquareR.woff') format('woff');
	unicode-range:U+AC00-D7AF, /*한글*/
				  U+0030-0039, /*숫자*/
				  U+0020-002F, U+003A-0040, U+005B-0060, U+007B-007E;/* 특수문자 */
	font-display:swap;
}
@font-face {
	font-family:'NanumSquareL';
	src:url('#{$cdn}/NanumSquareL.woff') format('woff');
	unicode-range:U+AC00-D7AF, /*한글*/
				  U+0030-0039, /*숫자*/
				  U+0020-002F, U+003A-0040, U+005B-0060, U+007B-007E;/* 특수문자 */
	font-display:swap;
}

// Roboto
@font-face {
	font-family:'Roboto-Bold';
	src:url('#{$cdn}/Roboto-Bold.ttf') format('truetype');
	unicode-range:U+0041-005A, U+0061-007A;/* 영문 대문자, 소문자 */
	font-display:swap;
}
@font-face {
	font-family:'Roboto-Regular';
	src:url('#{$cdn}/Roboto-Regular.ttf') format('truetype');
	unicode-range:U+0041-005A, U+0061-007A;/* 영문 대문자, 소문자 */
	font-display:swap;
}
@font-face {
	font-family:'Roboto-Light';
	src:url('#{$cdn}/Roboto-Light.ttf') format('truetype');
	unicode-range:U+0041-005A, U+0061-007A;/* 영문 대문자, 소문자 */
	font-display:swap;
}