/* Author: JW 2025-##-## */

$cdn: 'https://cdn.jsdelivr.net/gh/fe-jw/fe-jw.github.io/';

// Pretendard
@each $weight, $name in (100, 'Thin'), (200, 'ExtraLight'), (300, 'Light'),
  (400, 'Regular'), (500, 'Medium'), (600, 'SemiBold'), (700, 'Bold'),
  (800, 'ExtraBold'), (900, 'Black')
{
  @font-face {
    font-family: 'Pretendard';
    src:
      local('Pretendard-' + $name),
      url('#{$cdn}/font/Pretendard-' + $name + '.woff2') format('woff2'),
      url('#{$cdn}/font/Pretendard-' + $name + '.woff') format('woff');
    font-weight: $weight;
    font-display: swap;
  }
}

* {
  margin: 0;
  padding: 0;
}
html {
  -webkit-text-size-adjust: none;
  font-size: 10px;
}
body {
  line-height: 1.3;
  font-family:
    'Pretendard',
    -apple-system,
    BlinkMacSystemFont,
    sans-serif;
  font-size: 1.4rem;
  font-weight: 200;
  color: var(--font-color);
  background-color: var(--bg-color);
}

:root {
  --font-color: #000;
  --bg-color: #fff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --font-color: #fff;
    --bg-color: #000;
  }
}
